In [93]:
import pandas as pd

In [94]:
def top_three_salaries(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    top_three_salarie = pd.DataFrame([], columns=['Department', 'Employee', 'Salary']).astype({
        'Department': 'object', 
        'Employee': 'object', 
        'Salary': 'Int64'
    })
    
    for i in department['id']:
        some = employee[employee['departmentId'] == i].sort_values(by=['salary'], ascending=False).reset_index(drop=True)
        
        name_department = department.loc[department['id'] == i, 'name'].values[0]
        count = 1   # первая уникальная зарплата уже учтена
        prev_salary = some.iloc[0]['salary']
        
        # добавляем первого сотрудника
        top_three_salarie.loc[len(top_three_salarie)] = [name_department, some.iloc[0]['name'], some.iloc[0]['salary']]
        
        for j in range(1, len(some)):
            if count == 3:   # уже три уникальных зарплаты
                break
            top_three_salarie.loc[len(top_three_salarie)] = [name_department, some.iloc[j]['name'], some.iloc[j]['salary']]
            if some.iloc[j]['salary'] != prev_salary:
                prev_salary = some.iloc[j]['salary']
                count += 1
    
    return top_three_salarie

In [95]:
data = [[1, 'Joe', 85000, 1], [2, 'Henry', 80000, 2], [3, 'Sam', 60000, 2], [4, 'Max', 90000, 1], [5, 'Janet', 69000, 1], [6, 'Randy', 85000, 1], [7, 'Will', 70000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

top_three_salaries(employee, department)

  Department Employee  Salary
0         IT      Max   90000
1         IT      Joe   85000
2         IT    Randy   85000
3         IT     Will   70000
4      Sales    Henry   80000
5      Sales      Sam   60000

In [30]:
import pandas as pd

In [31]:
def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    person_count = person['email'].value_counts()
    person_count = pd.DataFrame(person_count[person_count>1].index, columns = ['email'])
    return person_count

In [32]:
data = [[1, 'a@b.com'], [2, 'c@d.com'], [3, 'a@b.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'Int64', 'email':'object'})

duplicate_emails(person)
# new = person['email'].value_counts()
# new = new[new>1]
# new1 = pd.DataFrame(new.index, columns=['email'])
# new1
# new.drop('count', axis=1, inplace=True)
# new

     email
0  a@b.com

In [46]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customers = customers['id'].isin(orders['customerId'])
    customers = customers.loc[customers, ['id']].rename(columns={'name':'Customers'})
    return customers

In [58]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

# find_customers(customers, orders)
customers_new = ~customers['id'].isin(orders['customerId'])

customers_new = customers.loc[customers_new, ['name']].rename(columns={'name':'Customers'})
customers_new

  Customers
1     Henry
3       Max

In [93]:
def not_boring_movies(cinema: pd.DataFrame) -> pd.DataFrame:
    cinema = cinema[cinema['id']%2!=0]
    cinema = cinema[cinema['description']!='boring'].sort_values(by=['rating'], ascending=False)
    return cinema

In [94]:
data = [[1, 'War', 'great 3D', 8.9], [2, 'Science', 'fiction', 8.5], [3, 'irish', 'boring', 6.2], [4, 'Ice song', 'Fantacy', 8.6], [5, 'House card', 'Interesting', 9.1]]
cinema = pd.DataFrame(data, columns=['id', 'movie', 'description', 'rating']).astype({'id':'Int64', 'movie':'object', 'description':'object', 'rating':'Float64'})

not_boring_movies(cinema)

   id       movie  description  rating
4   5  House card  Interesting     9.1
0   1         War     great 3D     8.9