In [12]:
from math import factorial

from statsmodels.sandbox.regression.example_kernridge import index


class Solution:
    def isScramble(self, s1, s2):
        if len(s1) == 1:
            pass
        if len(s1) > 1:
            for i in range(1,len(s1)):
                s = s1[:i] + s1[i:]
                s_r = s1[i:] + s1[:i]
                self.isScramble(s, s_r)
                print(s, s_r)

In [13]:
Solution().isScramble(s1="great", s2="rgeat")

RecursionError: maximum recursion depth exceeded

In [16]:
from math import factorial
factorial(4)

24

In [34]:
class Solution(object):
    def permute(self, nums):
        """
        :type nums: List[int]
        :rtype: List[List[int]]
        """
        all_permutations = list()
        for i in range(len(nums)):
            new = nums[(i+1):] + nums[:i]
            all_permutations.append(list(nums[i]).extend(new))
            print(nums[i], new)
        return all_permutations
            # self.permute(new[1:])
Solution().permute([1,2,3,4])

TypeError: 'int' object is not iterable

In [53]:
import pandas as pd

def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    result = []

    for idx, person in employee.iterrows():
        manager_id = person['managerId']
        
        if pd.isna(manager_id):
            continue
        
        manager = employee.loc[manager_id]
        
        if person['salary'] > manager['salary']:
            result.append(person['name'])
    
    return pd.DataFrame(result, columns=['Employee'])
        
        
employee = pd.read_csv('/Users/karimkhabib/Documents/Innopolis/First course (B24 - B25)/Programming in Python/Programming-In-Python/employees.csv', index_col=0)

In [28]:
find_employees(employee)

TypeError: DataFrame.dropna() takes 1 positional argument but 2 were given

In [25]:
find_employees(employee)

Joe
Henry
Sam
Max

In [31]:
employee.loc[int(employee.iloc[0]['managerId'])]

     name  salary  managerId
id
1     Joe   70000        3.0
2   Henry   80000        4.0

In [54]:
person = employee.loc[1]
if pd.isna(person['managerId']):
    print("managerId is NaN")
else:
    print("managerId is", person['managerId'])

managerId is 3.0

In [80]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})
activity

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-05-02             6
2          2          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5

In [155]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    result = pd.DataFrame([], columns=['player_id', 'first_login']).astype({'player_id':'Int64', 'first_login':'datetime64[ns]'})
    players_id = activity['player_id'].unique()
    
    # print(players_id, '\n')
    
    for i in players_id:
        some = activity.where(activity['player_id'] == i).dropna()
        result.loc[len(result)] = [i, min(some['event_date'])]
    return result

In [156]:
# game_analysis(activity)
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})
# activity = activity.set_index('player_id')
# activity = activity.set_index('player_id')

# activity = activity.drop(['device_id', 'games_played'], axis=1)
# players_id = activity['player_id'].unique()
# players_id[2]
res = game_analysis(activity)
res
# activity

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02

In [150]:
result = pd.DataFrame([], columns=['player_id', 'first_login']).astype({'player_id':'Int64', 'first_login':'datetime64[ns]'})
result.loc[len(result)] = [1, '2016-03-01']
result

   player_id first_login
0          1  2016-03-01

In [151]:
min(activity['event_date'])

Timestamp('2016-03-01 00:00:00')