In [107]:
import pandas as pd
from networkx.algorithms.operators.binary import difference

In [108]:
def price_at_given_date(products: pd.DataFrame) -> pd.DataFrame:
    products = products.sort_values(by='change_date')
    products_new = products.where(products['change_date'] <= pd.to_datetime('2019-08-16')).dropna()
    
    all_product_id = products['product_id'].unique()
    exist_product_id = products_new['product_id'].unique()
    
    price_date = pd.DataFrame([], columns=['product_id', 'price'])
    
    for i in exist_product_id:
        some = products_new.where(products_new['product_id'] == i).dropna()        
        price_date.loc[len(price_date)] = [i, some.tail(1)['new_price'].values[0]]
        # print(price_date)
    
    difference_products = set(all_product_id) - set(exist_product_id)

    for i in difference_products:
        price_date.loc[len(price_date)] = [i, 10]
    return price_date

In [109]:
data = [[1, 20, '2019-08-14'], [2, 50, '2019-08-14'], [1, 30, '2019-08-15'], [1, 35, '2019-08-16'], [2, 65, '2019-08-17'], [3, 20, '2019-08-18']]
products = pd.DataFrame(data, columns=['product_id', 'new_price', 'change_date']).astype({'product_id':'Int64', 'new_price':'Int64', 'change_date':'datetime64[ns]'})

# products_new = products.where(products['change_date'] <= pd.to_datetime('2019-08-16')).dropna()
# print(products_new['product_id'].unique(), products['product_id'].unique())
# # products_new['product_id'].unique()
# pro = products.sort_values(by='change_date')
# print(pro)
res = price_at_given_date(products)
res
# pro = products.tail(1)['new_price'].values[0]
# pro

   product_id  price
0           1     35
1           2     50
2           3     10